label{
     display: block;
}
input{
     width: 100%;
     padding:.48rem;
     color: white;
     border: 1px solid var(--light-primary-color);
     border-radius: 6px;
     transition: all 0.2s ease;
     
}

input:focus {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 0 2px var(--secondary-color);
  outline:none;
}

.register-input-div,
.login-input-div {
  margin-bottom: .88rem;
}

.login-content,
.register-content {
  width: 100%;
  max-width: 28rem;
  background: var(--dark-primary-color);
  border: 2px solid var(--light-primary-color);
  border-radius: 0.75rem;
  padding: 1.75rem;
  box-sizing: border-box;
}
